<template name="Settings">
{{#if getSession 'isAdmin'}}
{{> settingsActionBar}}
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <td style="width: 85px">{{_ "Key"}}</td>
      <td style="width: 250px">{{_ "Value"}}</td>
    </tr>
  </thead>
  <tbody>
    {{#each settings}}
      <tr>
        <td>{{this.key}}</td>
        <td>
        {{#autoForm id=makeUniqueID type='update' collection='Settings' doc=this autosave=true}}
          {{> afFormGroup name='value' label=false}}
        {{/autoForm}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{> sendSMS}}
{{/if}}
</template>

<template name="settingsActionBar">
  <div class="row action-bar">
    <div class="col-sm-2">
      {{#callButton buttonMethod="markCompleted" buttonStyle="success"}}
      {{_ "Mark as completed."}}
      {{/callButton}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <a href="/contacts/download" target="_blank"><button id="PrintContacts" class="btn btn-success">{{_ "Print contacts."}}</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <a href="/orders/download" target="_blank"><button id="PrintOrdersGrouped" class="btn btn-success">{{_ "Print Orders grouped by course."}}</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <a href="/phoneList/download" target="_blank"><button id="PrintPhoneList" class="btn btn-success">{{_ "Print contact awaiting for order."}}</button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      {{#callButton buttonMethod="cleanOrders" buttonStyle="success"}}
        {{_ "Remove old orders."}}
      {{/callButton}}
    </div>
  </div>
</template>

<template name="sendSMS">
  <h2> SMS </h2>
  <h5> {{_ "Estimated price would be:"}} {{priceTotal}} $</h5>
  <div id="char_count">160 {{_ "chars remaining"}}</div>
  <div class="row action-bar">
    <div class="col-sm-6">
      <textarea id="sms" class="form-control"></textarea>
    </div>
    {{#if getSession 'smstext'}}
    <div class="col-sm-6">
      <button id="sendSMSAll" class="sendSms btn btn-success">
      {{_ "Send SMS to all."}}
      </button>
    </div>
    {{/if}}
  </div>
  <p class="result-msg"></p>
  <input checked={{isStateSupport}} class="checkbox-inline" id="smsStateSupport" type="checkbox" /><label for="smsStateSupport">Send only to people that don't have state support</label>
  <div id="char_count">{{targetedPeople}} {{_ "targeted people"}}</div>

</template>

