<template name="printOrder">
<div id="print{{_id}}" class="print">
  <h1>Encomenda - {{humanId}}</h1>
  <p>Conserve este papel</p>
  <p>
  *Encomenda de Livros Escolares*<br>
  {{library}}<br>
  <u>Livros:</u><br>
  <div class="list-resources">
    {{#each justOrderedResources}}
    - {{title}}<br>
    {{/each}}
  </div>
  </p>
  <p>
  *Logo que a sua encomenda estiver completa, vamos entrar em contacto
  consigo. Não se tem de preocupar.*
  </p>
  <p>
  *Poderá plastificar os seus livros por apenas 1,25euros cada.*
  </p>
  <p>
  *Se comprou os livros escolares na nossa livraria, terá 10% de desconto na
  compra de material escolar na nossa loja.*
  </p>
</div>
</template>
