<template name="contactSelection">
  <div class="form-group">
    <label for="contact-selector" class="col-sm-2 control-label">{{_ "Contact"}}</label>
    <div class="col-sm-5 contact-left">
      <input id="contact-selector" class="form-control typeahead" name="contact" type="text" placeholder="Search Phone/Email" autocomplete="off" spellcheck="off" data-source="contacts" data-select="selected"/>
    </div>
    <div class="col-sm-5">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newContact">
        {{_ "Create new contact"}}
      </button>
    </div>
  </div>
  {{> updateContact contact=contact}}
</template>

<template name="updateContact">
  {{#if contact}}
  <div>
    {{> quickForm template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10" collection="Contacts" doc=contact id="updateContactForm" type="update" autosave=true buttonContent=false}}
  </div>
  {{/if}}
</template>

<template name="newContact">
  <div class="modal fade" id="newContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{_ "Create new contact"}}</h4>
        </div>
        <div class="modal-body">
          {{> quickForm template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10" collection="Contacts" id="insertContactForm" type="insert" buttonClasses="btn btn-success"}}
        </div>
      </div>
    </div>
  </div> 
</template>
