<template name="index">
  <div class="page-header">
    <h1>Bienvenue</h1>
  </div>
  <div class="form-group">
    <label>Enter the school</label>
    <input id="school-selector" class="form-control typeahead" name="school" type="text" placeholder="School" autocomplete="off" spellcheck="off" data-source="schools"/>
  </div>
  {{> courseSelection}}
  {{> resourcesSelection}}
</template>

<template name="courseSelection">
  {{#if courses}}
    <div class="form-group">
      <label>Select the course</label>
      <select id="course-selector" class="form-control">
        {{#each courses}}
          <option>{{name}}</option>
        {{/each}}
      </select>
    </div>
  {{/if}}
</template>

<template name="resourcesSelection">
  {{#if resources}}
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Subject</th>
        <th>Title</th>
        <th>Editor</th>
        <th>Availability</th>
        <th>Action</th>
        <th>Sell</th>
      </tr>
      </thead>
      <tbody>
      {{#each resources}}
      <tr id="{{_id}}">
          <td>
            {{ subject }}
          </td>
          <td>
            {{ title }}
          </td>
          <td>
            {{ editor }}
          </td>
          <td>
            {{ quantity }}
          </td>
          <td>
            <i class="fa fa-trash"></i>
          </td>
          <td>
            <input type="checkbox" checked="{{isSellable}}">
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
  {{#if needContact}}
    {{> contactSelection}}
  {{/if}}
  <button class="btn btn-success" type="submit">Confirm!</button>
</template>

<template name="contactSelection">
  <div class="form-group">
    <label>Attach contact</label>
    <input id="contact-selector" class="form-control typeahead" name="contact" type="text" placeholder="Search Phone/Email" autocomplete="off" spellcheck="off" data-source="contacts"/>
  </div>
</template>
