<template name="nav">
  <div class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">TioApp</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      {{#if currentUser}}
        <ul class="nav navbar-nav">
          <li class="{{ activeIfTemplateIs '' }}"><a href="/">{{_ "Home"}}</a></li>
          <li class="{{ activeIfTemplateIs 'Orders' }}"><a href="/orders">{{_ "Orders"}}</a></li>
          <li class="{{ activeIfTemplateIs 'Grouporders' }}"><a href="/grouporders">{{_ "Group orders"}}</a></li>
          <li class="{{ activeIfTemplateIs 'Resources' }}"><a href="/resources">{{_ "Resources"}}</a></li>
          {{#if getSession 'isAdmin'}}
          <li class="admin {{ activeIfTemplateIs 'Import' }}"><a href="/import">{{_ "Integradas"}}</a></li>
          <li class="admin {{ activeIfTemplateIs 'Settings' }}"><a href="/settings">{{_ "Settings"}}</a></li>
          <li class="admin"><a href="/admin">{{_ "Admin"}}</a></li>
          {{/if}}
        </ul>
      {{/if}}
      <ul class="nav navbar-nav navbar-right">
        {{> loginButtons}}
      </ul>
    </div>
  </div>
  </div>
</template>

<template name="loading">
  {{>spinner}}
</template>
