<template name="GroupOrder">
  <h2>Group Order</h2>
  <div class="row">
  {{#autoForm class="form-horizontal" collection="GroupOrders" doc=this id="updateGroupOrderForm" type="readonly"}}
    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10" name='group'}}
    {{> afQuickField template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10" name='state'}}
  {{/autoForm}}
  </div>
  {{> reactiveTable class="table table-striped table-bordered table-hover" settings=settings }}
  {{#unless received}}
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button id="update" class="btn btn-success">Update</button>
    </div>
  </div>
  {{/unless}}
</template>

<template name="quantity">
{{#if isReceived}}
  {{quantity}}
{{else}}
  {{#autoForm collection="GroupOrderedResources" doc=this id=idGenerated type="update"}}
    {{> afQuickField label=false name='quantity'}}
  {{/autoForm}}
{{/if}}
</template>

<template name="received">
{{#if isReceived}}
  {{received}}
{{else}}
  {{#autoForm collection="GroupOrderedResources" doc=this id=idGenerated type="update"}}
    {{> afQuickField label=false name='received'}}
  {{/autoForm}}
{{/if}}
</template>

